.banner-cover{
    width: 100vw;
    height: 45rem;
    object-fit: cover;
    filter: brightness(.4);
}


.carousel-indicators [data-bs-target]{
    height: 1rem;
    width: 5rem;
    background-color: #e6533c;
}


.carousel{
    background: linear-gradient(
      to top,
      rgb(0 0 0 / 75%) 0%,
      rgb(0 0 0 / 50%) 65%,
      rgb(0 0 0 / 10%) 100%
    );
}

.banner-button-grp{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.banner-button-grp a{
    --bs-btn-border-color:#e6533c;
    --bs-btn-hover-border-color:#e6533c;
}
.hero-genre{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

.carousel-caption{
    display: flex;
    text-align: left;
    top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.banner-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40rem;
}