

.movie-filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.pagination{
    gap: 0.3rem;
    margin: 0;
    --bs-pagination-color: #fff;
}

.page-link:focus{
    color: #e6533c;
    box-shadow:  0 0 0 0.1rem #e6533c;
}