* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #20242a;
  background: #f4f6f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Knewave", cursive;
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1;
}
.page-content{
  width: min(100% - 2rem, 75rem);
  margin-inline: auto;
  padding-block: 2rem;
}



/* HTML: <div class="loader"></div> */
.loader {
  margin: 10% auto;
  width: calc(80px*0.707);
  height: calc(80px*0.707);
  background-color: #72c6ad;
  clip-path: polygon(0 0,50% 15%,100% 0,85% 50%,100% 100%,50% 85%,0 100%,15% 50%);
  -webkit-mask:
    radial-gradient(circle closest-side,#0000 92%,#000) top   /100% 33.4%,
    radial-gradient(circle closest-side,#0000 92%,#000) left  /33.4%  33.4%,
    radial-gradient(circle 5px         ,#0000 92%,#000) center/33.3%  33.3%,
    radial-gradient(circle closest-side,#0000 92%,#000) right /33.4%  33.4%,
    radial-gradient(circle closest-side,#0000 92%,#000) bottom/100% 33.4%;
  -webkit-mask-repeat: no-repeat;
  animation: l4 1.5s infinite linear;
}
@keyframes l4 { 
  100%{transform: rotate(1turn)}
}